name: Terraform provisioning
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
jobs:
  provisioning_terraform:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - run: |
          make dev-apply token="$env:vault_token"
        env:
          vault_token: ${{ secrets.vault_token }}